<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="ObjektinioProgramavimo"
    Manufacturer="Vilniaus Universitetas Nojus Girždiūna"
    Version="3.0"
    UpgradeCode="{A884D5D9-93F2-4CC8-AFA5-A0E44421306C}">
    <Feature Id="MainFeature" Title="Objektinio Programavimo Uzd" Level="1">
      <ComponentGroupRef Id="ProductComponents"/>
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="VU\NojusGirzdiuna">
        <Component Id="MainExecutable" Guid="*">
          <File Id="ObjektinisExe"
                Name="ObjektinisProgramavimas.exe"
                Source="C:\Users\nojus\Desktop\.vscode\c++\Objektinio-programavimo-uzd-2\build\Debug\ObjektinisProgramavimas.exe">
            <Shortcut Id="StartMenuShortcut"
                        Directory="ProgramMenuDir"
                        Name="Objektinio Programavimas"
                        WorkingDirectory="INSTALLFOLDER"
                        Advertise="no"/>
            <Shortcut Id="DesktopShortcut"
                        Directory="DesktopFolder"
                        Name="Objektinio Programavimas"
                        WorkingDirectory="INSTALLFOLDER"
                        Advertise="no"/>
          </File>
        </Component>
      </Directory>
    </StandardDirectory>
    <!-- Start Menu Folder -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="ObjektinioProgramavimas"/>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <ComponentRef Id="MainExecutable"/>
    </ComponentGroup>
  </Fragment>
</Wix>